# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual environment
venv/
ENV/

# Flask
instance/
.webassets-cache

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl

# Project specific
/logs/
/production/
/staging/
/backup/
dashboard.pid
.DS_Store 